<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script>
        function myFunction(entry) {
            console.log(entry);
            location.replace("http://10.0.1.26:3000/history/" + entry);
        }

        // Import FusionCharts library and chart modules


        const chartData = [
            {
                label: "Venezuela",
                value: "290"
            },
            {
                label: "Saudi",
                value: "260"
            },
            {
                label: "Canada",
                value: "180"
            },
            {
                label: "Iran",
                value: "140"
            },
            {
                label: "Russia",
                value: "115"
            },
            {
                label: "UAE",
                value: "100"
            },
            {
                label: "US",
                value: "30"
            },
            {
                label: "China",
                value: "30"
            }
        ];

        const dataSource = {
            chart: {
                //Set the chart caption
                caption: "Countries With Most Oil Reserves [2017-18]",
                //Set the chart subcaption
                subCaption: "In MMbbl = One Million barrels",
                //Set the x-axis name
                xAxisName: "Country",
                //Set the y-axis name
                yAxisName: "Reserves (MMbbl)",
                numberSuffix: "K",
                //Set the theme for your chart
                theme: "fusion"
            },
            // Chart Data - from step 2
            data: chartData
        };
        this.dataSource = dataSource;

    </script>

</head>
<body>
<div class="container">
    <div class="row">
        <h1 class="saunabuddy_header"><img src="../images/logo.png" style="height: 15%; width: 15%" alt="image not found"><%= title %></h1>
    </div>
    <div class="row">
        <fusioncharts width="700" height="400" type="Column2d" [dataSource]="dataSource"></fusioncharts>
    </div>
</div>
</body>
</html>