<header>
    <section>
        <a href="https://www.linkedin.com/in/sutharmayur" id="logo" target="_blank">Mayur Suthar</a>
        <label for="toggle-1" class="toggle-menu">
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </label>
        <input type="checkbox" id="toggle-1">
        <nav>
            <ul>
                <li><a href="#logo"><i class="fa fa-home"></i>Home</a></li>
                <li><a href="#about"><i class="fa fa-user"></i>About</a></li>
                <li><a href="#portfolio"><i class="fa fa-thumb-tack"></i>Portfolio</a></li>
                <li><a href="#services"><i class="fa fa-gears"></i>Services</a></li>
                <li><a href="#gallery"><i class="fa fa-picture-o"></i>Gallery</a></li>
                <li><a href="#contact"><i class="fa fa-phone"></i>Contact</a></li>
            </ul>
        </nav>
</header>