<header>
    <section>
        <a href="https://www.linkedin.com/in/sutharmayur" id="logo" target="_blank"><img src="images/logo.png" style="height: 15%; width: 15%" alt="image not found">SaunaBuddy</a>
        <label for="toggle-1" class="toggle-menu">
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </label>
        <input type="checkbox" id="toggle-1">
        <nav>
            <ul>
                <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
                <li><a href="/history"><i class="fa fa-user"></i>History</a></li>
                <li><a href="/setings"><i class="fa fa-gears"></i>Setings</a></li>
                <li><a href="/contact"><i class="fa fa-phone"></i>Contact</a></li>
            </ul>
        </nav>
</header>